.features
  background: $white-color
  padding-bottom: 110px
  margin-top: 10%
  &-block
    justify-content: center
    align-items: center
  &__container
    margin: 0 auto
  &-item
    max-width: 370px
    box-shadow: 0 4px 10px rgba(171, 102, 217, 0.32)
    border-radius: 25px
    background: $white-color
    &_2
      box-shadow: 0 4px 10px rgba(255, 181, 0, 0.32)
    margin: 0 15px
    &__content
      padding: 49px 33px 43px 34px
      text-align: center
    &__img
      margin-bottom: 30px
    &__text
      line-height: 24px
      color: $black-opacity-80-color
      font:
        size: 20px
        weight: 400
