@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat"), local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  position: relative; }

body {
  font-size: 18px;
  font-family: "Montserrat";
  font-style: normal;
  line-height: 125.5%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

.my-container-fluid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

.wrapper {
  min-height: 100vh;
  position: relative; }

.flex__container {
  display: flex;
  flex-wrap: wrap; }

.inline-block__container {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px; }

img {
  max-width: 100%; }

.overlay {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(171, 102, 217, 0.7);
  transition: all 0.5s ease-in; }
  .overlay.active {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible; }

.menu_close {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  position: fixed;
  bottom: -100%;
  transform: rotate(180deg); }
  .menu_close.active {
    transition: all 0.5s;
    width: 30px;
    height: 30px;
    opacity: 1;
    visibility: visible;
    position: fixed;
    bottom: 90%;
    right: 3%;
    z-index: 4;
    transform: rotate(360deg); }
  .menu_close::before, .menu_close::after {
    content: '';
    transition: all 0.5s;
    transform: rotate(360deg);
    width: 100%;
    height: 2px;
    display: block;
    background: #FFFFFF;
    position: absolute; }
  .menu_close::before {
    top: 5%;
    right: 5%;
    transform: rotate(45deg); }
  .menu_close::after {
    top: 5%;
    right: 5%;
    transform: rotate(-45deg); }

.lock {
  overflow: hidden; }

/* Styles For Blocks */
.header {
  padding: 10px 5px;
  margin-bottom: 50px;
  position: relative; }
  .header-logo:hover {
    text-decoration: none; }
  .header-logo__img {
    margin-right: 13px;
    max-width: 84px;
    max-height: 88px;
    border-radius: 50%; }
  .header-burger {
    width: 40px;
    height: 20px;
    position: relative;
    display: none; }
    .header-burger::after, .header-burger::before, .header-burger span {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background: #AB66D9;
      display: block; }
    .header-burger span {
      top: 50%; }
    .header-burger::before {
      top: 0; }
    .header-burger::after {
      bottom: 0; }
  .header-block {
    justify-content: space-between;
    align-items: center; }
  .header-menu {
    margin-right: 30px;
    transition: all 0.8s ease; }
    .header-menu__link {
      color: #000000;
      display: inline-block;
      margin-right: 25px;
      font-size: 16px;
      font-weight: 400; }
      .header-menu__link:last-child {
        margin-right: 0; }
    .header-menu__link:last-child {
      margin-right: 0; }
  .header__button {
    padding: 16px 28px;
    border-radius: 18px;
    text-align: center;
    background: transparent;
    border: 3px solid #AB66D9;
    color: #AB66D9;
    filter: drop-shadow(0px 4px 12px rgba(171, 102, 217, 0.55));
    font-size: 16px;
    font-weight: 700; }
  .header-container-fluid {
    padding: 0; }

.logo__text {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000; }

.offer-block {
  position: relative;
  justify-content: space-between; }

.offer-text {
  max-width: 469px;
  margin-top: 50px; }
  .offer-text__title {
    line-height: 149.5%;
    letter-spacing: 0.02em;
    margin-bottom: 38px;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600; }
    .offer-text__title span {
      letter-spacing: 0.05em;
      color: #AB66D9;
      display: block;
      line-height: 37px;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 30px;
      text-transform: none; }
  .offer-text__desc {
    margin-bottom: 44px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    letter-spacing: 0.01em; }

.offer-img {
  margin-right: 200px; }
  .offer-img__picture {
    max-height: 85vh; }
  .offer-img-block {
    display: flex;
    justify-content: space-between; }

.offer-link {
  display: inline-block;
  margin-right: 33px; }
  .offer-link:last-child {
    margin-right: 0; }
  .offer-link__button {
    padding: 16px 28px;
    border-radius: 18px;
    text-align: center;
    background: #AB66D9;
    color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(171, 102, 217, 0.7); }
  .offer-link_more {
    color: #AB66D9;
    font-weight: 600;
    text-decoration: underline; }
  .offer-link__text {
    line-height: 125.5%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-weight: 400; }

.offer-social {
  display: flex;
  flex-direction: column;
  margin-top: 100px; }
  .offer-social__link {
    margin-bottom: 30px;
    display: inline-block; }
  .offer-social__img {
    width: 100%;
    height: 100%;
    max-width: 25px;
    max-height: 25px; }

.features {
  background: #FFFFFF;
  padding-bottom: 110px; }
  .features-block {
    justify-content: center; }
  .features__container {
    margin: 0 auto; }
  .features-item {
    max-width: 370px;
    box-shadow: 0 4px 10px rgba(171, 102, 217, 0.32);
    border-radius: 25px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0 15px; }
    .features-item_2 {
      box-shadow: 0 4px 10px rgba(255, 181, 0, 0.32); }
    .features-item__content {
      padding: 49px 33px 43px 34px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto; }
    .features-item__img {
      margin-bottom: 30px;
      flex: 1 1 auto; }
    .features-item__text {
      line-height: 24px;
      color: rgba(0, 0, 0, 0.8);
      font-size: 20px;
      font-weight: 400; }

.fullscreen {
  min-height: 100vh;
  position: relative;
  overflow: hidden; }
  .fullscreen__container {
    margin-bottom: 100px; }

@media screen and (max-width: 1219px) {
  .features-item {
    margin-bottom: 20px; }
    .features-item:last-child {
      margin-bottom: 0; } }

@media screen and (max-width: 992px) {
  .offer-block {
    flex-direction: column;
    align-items: center; }
  .offer-text {
    margin-bottom: 60px;
    margin-top: 0; }
  .offer-img-block {
    flex-direction: row-reverse; }
  .offer-social {
    margin-top: 50pxё; }
  .offer-img {
    margin-right: 0;
    margin-left: 200px; } }

@media screen and (max-width: 905px) {
  .header-block {
    align-items: center;
    position: relative; }
  .header-logo {
    display: none; }
  .header-burger {
    display: block; }
  .header-menu {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: -100%; }
    .header-menu.active {
      left: 0;
      z-index: 2; }
    .header-menu__link {
      margin-right: 0;
      margin-bottom: 30px;
      padding: 10px 20px;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: 700; } }

@media screen and (max-width: 768px) {
  .offer-block {
    align-items: center; }
  .offer-img {
    margin-left: 50px; }
  .offer-social {
    margin-top: 50px; } }

@media screen and (max-width: 443px) {
  .offer-text__title {
    font-size: 18px; }
    .offer-text__title span {
      margin-bottom: 15px; } }

@media screen and (max-width: 408px) {
  .offer-img {
    margin-left: 20px; }
  .features-item__content {
    padding: 43px 30px 38px 24px; }
  .features-item__img {
    margin-bottom: 26px; }
  .features-item__text {
    font-size: 16px;
    line-height: 20px; } }

@media screen and (max-width: 385px) {
  .offer-text__title {
    font-size: 18px;
    line-height: 29px; }
  .offer-text__desc {
    font-size: 14px; }
  .offer-link {
    margin: 0;
    margin-bottom: 20px; }
    .offer-link_more {
      border: 2px solid #AB66D9;
      text-align: center;
      border-radius: 18px;
      padding: 16px 28px; }
      .offer-link_more:active {
        background: #AB66D9;
        color: #FFFFFF; }
    .offer-links {
      display: flex;
      flex-direction: column; } }

@media screen and (max-width: 320px) {
  .offer-text__title {
    font-size: 18px;
    line-height: 29px; }
    .offer-text__title span {
      line-height: 23px;
      font-size: 12px; }
  .offer-text__desc {
    font-size: 14px; }
  .offer-social {
    margin-top: 0; }
  .offer-link {
    margin: 0;
    margin-bottom: 20px; }
    .offer-links {
      display: flex;
      flex-direction: column;
      align-items: center; } }
